@import "~antd/dist/antd.css";

/*@font-face {*/
/*    font-family: "Noto Sans", "Ubuntu";*/
/*        src: url("/NotoSansSC-Bold.otf");*/
/*}*/
body {
    /*font-family: "Ubuntu",  sans-serif;*/
    font-family: source-han-sans-simplified-c, sans-serif;
    font-style: normal;
    font-weight: 700;
    height: 100%;
    margin: 0;
    background-color: #f5f5f5;
}
.media .image img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*body.fontLoaded {*/
/*    font-family: "Ubuntu",  sans-serif;*/
/*}*/

p,
label {
    /*font-family: Georgia, Times, "Times New Roman", serif;*/
    line-height: 1.5em;
}

.App {
    line-height: 1.5;

}

.nav:hover {
    color: goldenrod;
}

.nav:active {
    color: rebeccapurple;
    text-decoration: underline;
}

.nav {
    font-size: 32px;
}

.ant-menu-horizontal {
    border-bottom: none;
}

.ant-menu-horizontal .ant-menu-item-selected {
    border-bottom: 2px solid goldenrod;
}

.ant-menu-horizontal:hover > .ant-menu-item-active {
    border-bottom: 2px solid rebeccapurple;
}

/*.ImageHeader {*/
/*    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),*/
/*    url("/images/8PXUyg.jpg") 50% / cover fixed;*/
/*    height: 100vh;*/
/*    color: white;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/

/*}*/

/*.Container {*/
/*    height: 50%;*/
/*    margin-left: 15%;*/
/*    margin-right: 15%;*/
/*    background-color: #f5f5f5;*/

/*}*/

.Footer {
    /* height: 20%;
      width: 100%; */
    margin-top: 10px;
    background-color: #3a0f87;
    color: white;
}

img {
    width: 100%;
    height: 100%;
}

/*.ant-carousel {*/
/*    flex: 1;*/
/*    max-width: 100%;*/
/*}*/

/*.typewriter {*/
/*    overflow: hidden; !* Ensures the content is not revealed until the animation *!*/
/*    border-right: .15em solid rebeccapurple; !* The typwriter cursor *!*/
/*    white-space: nowrap; !* Keeps the content on a single line *!*/
/*    margin: 0 auto; !* Gives that scrolling effect as the typing happens *!*/
/*    letter-spacing: .15em; !* Adjust as needed *!*/
/*    text-align: center;*/

/*    flex: 0 0 auto;*/
/*    animation: typing 3.5s steps(40, end),*/
/*    blink-caret 2s step-end infinite;*/
/*}*/

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}
.nav{
    text-align: right;
    padding-top: 3%;
    padding-bottom: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
.newcomer{
    height: 750px;
    margin-left: 20%;
    margin-right: 20%;
}


.joinus{
    /*background-image: url("/background.png");*/
    /*background-position: center top;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    position: relative;
    margin: 5% 0 10% 0;


}

.joinus-background-image{
    position: absolute;
    background-image: url("/background.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
    top: 53%;
    z-index: -2;
}
.outter{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.95);
    margin-left: 8%;
    margin-right: 8%;
    /*position: relative;*/
    /*opacity: 0.5*/

}
.joinusForm{
    border-color: #3a0f87;
    border-style: solid;
    border-width: 2px;
    margin: 3% 10%;
    /*position: absolute;*/
    /*opacity: 0.7;*/

}

.joinusButton {
    width: 30%;
}

.joinusButton:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}
.homeCarousel{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: cover;
    height: 500px;
    overflow: hidden;
    object-position: center;
}
@media only screen and (max-width: 600px) {
    .nav{
        /*text-align: right;*/
        transition: height 200ms;
        /*padding-top: 40px;*/
        /*height: 0;*/
        /*overflow: auto;*/
        /*padding-bottom: 10px;*/
        /*background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));*/
    }
    .newcomer{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .joinusButton {
        width: 80%;
        /*padding-bottom: 30px;*/
    }
    .homeCarousel{
        object-fit: cover;
        /*height: 400px;*/
        overflow: hidden;
        object-position: center;
        margin: 0;
        height: 200px;
    }

}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: rgba(0,0,0, 0.35);
}
.ant-input, .ant-input-number, .ant-picker{
    border: 1px solid black;
    color: #757575;
}
.ant-form-item-label > label {
    color: #757575;
}